<div class="page-area">
    <div class="text-center">
      <h2 style="margin-top:30px ;">Intercomponent communication:</h2> 
      <br>
      <br>   
    </div>
    <p>Process of sending data from one component to another component is called as intercomponent comm.
      There are two chances of component communication. <br>
       <b> 1. If component are in parent and child relationship. <br>
        2. If component are not in parent and child i.e. irrelated component.</b></p>
    <hr class="mb-3">
  
  <div class="row">
    <div class="card">
      <h5 class="card-header" style="color: blue;">Parent to Child communication:</h5>
      <div class="card-body">
        <h5 class="card-title" style="color: green;">1. @Input:</h5>
        <p class="card-text">
          It is a decorator used to send the data from parent to child component.
          It uses attribute or property binding.</p>
        <a routerLink="parent" class="btn btn-primary">know More!</a>
      </div>
    </div>
  
    <div class="card">
      <h5 class="card-header" style="color: blue;">Child to Parent communication:</h5>
      <div class="card-body">
        <h5 class="card-title" style="color: green;">2. @Output:</h5>
        <p class="card-text"> 
          It is a decorator used to send the data from child to parent component.
          It uses event binding with event emmitter.</p>
        <a routerLink="child" class="btn btn-primary">know More!</a>
      </div>
    </div>
  
  </div>
  </div>
  