<div class="container mt-3">
    <h2>Parent Component</h2>
    <div class="card">
      <!-- <div class="card-header">Parent</div> -->
      <div class="card-body">
       <p>This is Parent Component</p>
       <p>Data from child component is : {{dataFromChildToParent}}</p>
      </div> 
      <div class="card-footer">Footer</div>
    </div>
  </div>

  <app-child [parentData]="dataFromParentToChild" (itemEvent)="emitDataFromchild($event)" ></app-child>

  <!-- <br><br>
  <button class="btn btn-info" (click)="sendDataFromParent()">Send data from child to parent</button>
</div> 
<div class="card-footer">Footer</div>
</div>
</div> -->
  <!-- <app-first></app-first>

  <app-contactus></app-contactus> -->


<!-- <app-child></app-child> -->



